.detailed__key {
  max-width: 120px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  text-align: start;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.detailed__value {
  max-width: 139px;
  width: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #363636;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
