.terms {

    & h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1px;
        color: #363636;

        @media(max-width: 320px){
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #363636;
        padding-bottom: 16px;

        &:not(&:first-of-type){
            padding-top: 32px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 32px;

        @media(max-width: 320px){
            padding-top: 24px;
        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #363636;

        @media(max-width: 320px){
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__sublist {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    @media(max-width: 320px){
        padding-top: 16px;
    }
}
