.select {
  padding: 8px 16px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 599px;
  gap: 8px;
  align-items: center;
  width: 100%;
  display: flex;
  max-width: fit-content;
  cursor: pointer;

  &__mob {
    @media (max-width: 455px) {
      display: none;
    }
  }

  & img {
    max-width: 16px;
    max-height: 16px;
  }

  & span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #a7a7a7;

    @media (max-width: 455px) {
      display: none;
    }
  }

  @media (max-width: 455px) {
    max-width: fit-content;
    width: auto;
    padding: 8px;
  }
}
