.search {
  padding: 10px 16px;
  display: flex;
  gap: 8px;
  max-width: 350px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 599px;
  align-items: center;

  & div:first-of-type{
    max-width: 16px;
    max-height: 16px;
    height: 100%;
    width: 100%;
    background: url("../../../assets/search-icon.svg");

    @media (max-width: 455px){
      width: 16px;
    }
  }

  & .mobile_open {
    @media (max-width: 455px) {
      display: none;
    }
  }

  & .input__mob__open {
    display: block;
  }

  & input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #363636;
    mix-blend-mode: normal;
    width: 100%;
    caret-color: rgba(248, 54, 0, 1);
    
    ;

    &::placeholder {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #a7a7a7;
    }

    @media (max-width: 455px) {
      display: none;
    }
  }

  &__mob__open {
    @media (max-width: 455px) {
      position: absolute;
      max-width: 100% !important;
      width: 100% !important;
      z-index: 50;
      padding: 7px 16px !important;
      top: 0;
      left: 0;
    }
  }

  &__close{

    display: none;

    @media(max-width: 455px){
      display: flex;
      align-items: center;
    }

    &_off{
      display: none;
    }
  }

  @media (max-width: 455px) {
    max-width: fit-content;
    width: auto;
    padding: 8px;
  }

  &:focus-within{
    & div:first-of-type{
      background: url("../../../assets/search-icon-active.svg");
    }

    & input::placeholder{
      display: none;
    }
  }
}
