.button{
    width: 100%;
    outline: none;
    border: none;
    display: block;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &__available{
        color: #FFFFFF;
        padding: 11px 23px;
    }

    &__unavailable{
        background: #f9f9fa;
        border: 1px solid #bfc4c9;
        color: #a7a7a7;
        padding: 10px 23px;
    }

    &__added{
        background: #fff;
        border: 1px solid #bfc4c9;
        color: #363636;
        padding: 10px 23px;
    }

    &__linear{
        max-width: 166px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;
        border-radius: 20px;
        margin: 0 auto;
        position: absolute;
        bottom: 16px;
        align-self: center;

        @media (max-width: 320px) {
            max-width: 256px;
        }
    }

    &__vertical{
        display: block;
        max-width: 174px;
        border-radius: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;

        @media (max-width: 320px) {
            max-width: 100%;
        }
    }
}
