.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #363636;
}

.progress {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #363636;
    margin-bottom: 32px;
}

.form {
    margin-top: 32px;
    position: relative;

    &__field {
        width: 100%;

        &:not(:first-of-type) {
            margin-top: 36px;
        }
    }

    &__prompt {
        padding: 2px 4px 2px 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #a7a7a7;
        position: absolute;
        top: -1;
        left: 0;

        &_colored {
            color: #f42c4f;
        }
    }


    &__btn {
        width: 100%;
        display: block;
        background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
        border-radius: 30px;
        outline: none;
        border: none;
        padding: 14px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #fff;
        margin-top: 68px;

        &_error {
            background: #ebebeb;
        }

        @media (max-width: 320px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #727272;
        max-width: 357px;
        padding-top: 16px;
    }
}
