.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%;

  & .swiper-slide img {
    object-fit: fill;
  }

  @media (max-width: 768px) and (min-width: 321px) {
    height: 238px;

    & .swiper-wrapper {
      max-height: 198px;
    }
  }

  @media (max-width: 320px) {
    height: 300px;

    & .swiper-wrapper {
      max-height: 260px;
    }
  }
}

.mySwiper {
  height: 100px;
  box-sizing: border-box;
  margin-top: 16px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 17.19%,
    rgba(255, 255, 255, 0) 83.33%,
    #ffffff 100%
  );

  .swiper-wrapper {
    height: 86px;
    mix-blend-mode: overlay;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.mySwiper .swiper-slide {
  background: rgba(191, 196, 201, 1);
  border-radius: 3px;
  border: none !important;
}

.mySwiper .swiper-slide img {
  height: 86px !important;
  max-height: 86px !important;
  border-radius: 3px !important;
  padding: 1px !important;
  border: none !important;
}

.mySwiper .swiper-slide-thumb-active {
  background: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-scrollbar {
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;

  & .swiper-scrollbar-drag {
    height: 6px;
    position: absolute;
    width: 100% !important;
  }

  & .swiper-scrollbar-drag:last-of-type {
    background: #a7a7a7;
    border-radius: 4px;
    max-width: 190px;
  }
}

.swiper-pagination {
  display: none;

  &-bullet {
    background: #bfc4c9;
    width: 7px;
    height: 7px;

    &-active {
      background: #363636;
      width: 9px;
      height: 9px;
    }
  }

  @media (max-width: 768px) {
    display: block;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 8px 0 7px 0;
  }

  @media (max-width: 320px) {
    justify-content: center;
    bottom: 0 !important;
  }
}
