.header{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    & span {
        font-weight: 500;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: 0.2px;
        color: #363636;
        word-break: break-word;

        @media (max-width: 320px){
            font-weight: 500;
            font-size: 36px;
            line-height: 36px;
        }
    }

    @media (max-width: 320px){
        flex-direction: column;
        gap: 24px;
    }
}
